@page "/"
@using Microsoft.Extensions.Logging;
@inject ILogger<Index> Logger;
@using CounterComponent;


<h1>Hello, world!</h1>

Welcome to your new app.

<Component1 ParentName="Some text that transmits from the parent to the child component"
            TextChanged="@OnChildTextChanged">
</Component1>

The text is : @_textValue

<SurveyPrompt Title="How is Blazor working for you?"/>

@code
{
    private string _textValue = string.Empty;

    private void OnChildTextChanged(string childText)
    {
        Logger.LogInformation("child text is:\'{0}\'", childText);
        _textValue = childText;
    }
}